@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

body {
  margin: 0;
  font-family: 'Georgia', 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global font classes */
.main-heading {
  font-family: 'Apple Chancery', 'Playfair Display', cursive;
}

.heading {
  font-family: 'Helvetica', 'Open Sans', sans-serif;
}

.sub-heading {
  font-family: 'Arial', 'Roboto', sans-serif;
}

.body-text {
  font-family: 'Georgia', 'Merriweather', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}