.our-impact-root {
    width: 100vw;
    min-height: 100vh;
    background: #fff;
}

.our-impact-hero {
    width: 100vw;
    height: 80vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 64px 0 48px 0; */
}

.our-impact-gif {
    max-width: 700px;
    width: 60vw;
    height: auto;
    display: block;
}

.our-impact-heading-section {
    width: 100vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0 32px 0;
}

.our-impact-heading {
    font-family: 'Alex Brush', cursive;
    font-size: 64px;
    color: #e68346;
    text-align: center;
    font-weight: 500;
    margin: 0;
    letter-spacing: 2px;
}

.our-impact-heading-main {
    font-family: 'Alex Brush', cursive;
    color: #e68346;
    font-weight: 500;
    margin-right: 8px;
}

.our-impact-explore-section {
    width: 100vw;
    height: 15vh;
    background: #FFE7D7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0 48px 0;
}

.our-impact-explore-text {
    font-family: 'Oranienbaum', serif;
    font-size: 2.5rem;
    color: #222;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
}

@media (max-width: 900px) {
    .our-impact-gif {
        max-width: 95vw;
        width: 95vw;
    }

    .our-impact-heading {
        font-size: 2.5rem;
    }
}

.about-container {
    max-width: 1250px;
    margin: 0 auto;
    /* padding: 20px; */
    font-family: 'open sans', sans-serif;
    line-height: 1.6;
}

.about-container h2 {
    font-size: 6rem;
    color: #e68346;
    font-weight: 300;
    font-family: 'alex brush', cursive;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    margin-top: 0px;
}



.about-heading {
    font-weight: 500;
    font-family: 'alex brush', cursive;
    text-align: center;
    color: grey;
    font-size: 28px;
}

.about-text {
    font-family: 'open sans', sans-serif;
    font-weight: 300;
    margin-bottom: 70px;
}